html    
    head
        meta(charset="utf-8")
        title PicTiles
        script(src="/socket.io/socket.io.js")
        script(src="../scripts/bodyScripts.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js")
        //- script(src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js")
        link(
            rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
            crossorigin="anonymous"
        )
        link(
            rel="stylesheet" 
            href="../styles/stylesheet.css"
        )
        link(
            href="https://fonts.googleapis.com/css?family=Megrim|Open+Sans"
            rel="stylesheet"
        )

    body
        script(src="https://cdnjs.cloudflare.com/ajax/libs/waterfall.js/1.1.0/waterfall.min.js")
        navigation
            nav(id="top-navbar" class="navbar navbar-fixed-top")
                div(id="navbar-container" class="container-fluid")
                    a(href="/") Main
                    if user
                        a(href="/user/" + user.userName  target="_self") My Board
                        a(id="logout" class="loginout" href="/logout" target="_self") Log Out
                    else
                        a(id="logout" class="loginout" href="/auth/twitter" target="_self") Log in with Twitter

        block content