
//- div(id="tiles" class="waterfall" data-masonry='{ "itemSelector": ".item", "columnWidth": 20%, percentPosition: true, gutter: 2px }')
//-     div(class="grid-sizer")
div(id="tiles" class="waterfall")
    if addEnabled
        div(class="item add-container")
            button(class="btn btn-transparent btn-add" onclick="showForm()")
                h3 Add New Pic
                i(class="glyphicon glyphicon-plus-sign")
    each pic in pics  
        div(class="item")
            img(class="pic-view" src=pic.imgUrl onerror="this.src='../images/default_img.png';")
            -let formAction = "";
            -let iconClass = "glyphicon-pushpin";
            -let btnClass = " disabled"
            if (pic.postedBy === user.userName)
                -btnClass = " disabled"
            else if (user && pic.pinnedBy.indexOf(user._id) < 0)
                -formAction = "/pin"
                -btnClass = ""
            else if (user)
                -formAction = "/unpin"
                -iconClass = "glyphicon-ban-circle"
                -btnClass = ""
            form(class="overlay top" method="POST")
                input(class="hidden" name="pictureID" value=pic._id)
                button(type="submit" class="btn btn-transparent" + btnClass formaction=formAction)
                    span(class="glyphicon " + iconClass id="pin-" + pic._id)
                    label(for="pin-" + pic._id) #{pic.pinnedBy.length}
            div(class="overlay bottom")
                div #{pic.title}
                div by 
                    a(class="owner-profile" href="/user/" + pic.postedBy target="_self") #{pic.postedBy}